<html>
  <head>

  </head>

<body class="main">

<h3>My Profile</h3>

<div class="dropdown">
    <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      English
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="#">English</a>
      <a class="dropdown-item" href="#">French</a>
      <a class="dropdown-item" href="#">Tamil</a>
      <a class="dropdown-item" href="#">Hindi</a>
      <a class="dropdown-item" href="#">Spanish</a>
    </div>
  </div>


</body>

</html>