<div class="nav">
  <app-navigation-bar></app-navigation-bar>
</div>
<body class="main" >


<div class="row">
    <h3 class=col-2>My Profile</h3>
<span class="lang" >Language</span>

<div class="dropdown">
    <button class="btn btn-light btn-lg dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      
    </button>
    

    <div class="dropdown-menu shadow sticky-top" aria-labelledby="dropdownMenuOffset">
      
      <div class="dropdown-item" id="d_lang">
          <div class="form-group" >
              <input type="text" class="form-control" id="lang" placeholder="Search for Languages" >
            </div>  


      </div>
      <div class="dropdown-divider" id="lang_div"></div>


      <div class="dropdown-item-text text-muted " style="padding-left:10px; padding-top:0px;" >
            <p class="Avail_lang">
              Available Languages
            </p>
          </div>
      
      <a class="dropdown-item" href="#">English</a>
      <div class="dropdown-divider"></div>

      <a class="dropdown-item" href="#">French</a>
      <div class="dropdown-divider"></div>

      <a class="dropdown-item" href="#">Tamil</a>
      <div class="dropdown-divider"></div>

      <a class="dropdown-item" href="#">Hindi</a>
      <div class="dropdown-divider"></div>

      <a class="dropdown-item" href="#">Spanish</a>
      
    </div>
  </div>

</div>

  <div class="card card1" style="margin-top:15px;">
    <div class="containter">
      <div class="row">

        <div class='col-8'>

          <div class="row">
            
            
            <label class="head">Name</label>
          </div>
          <div class="row value">
            
            <label class="values">{{name}}</label>
          </div>
          
          
          
          <div class="row">
            
            <label class="head"> Username</label>
            
          </div>
          <div class="row value">
            <label class="values">someuser@email.com</label>                
            <!-- {{Password}} -->
          </div>
          
          
          <div class="row">
            
            <label class="head"> Password</label>
            
          </div>
          <div class="row value">
            <label class="values">Last updated</label>
          </div>
          
          <button type="button" class="btn btn-dark pass1">Change Password</button>
          
          <div class="row">
            
            <label class="head"> Nationality</label>
            
          </div>
          <div class="row value">
            <label class="values">Indian</label>
          </div>
          
          
          <div class="row">
            
            <label class="head"> Projects</label>
            
          </div>
          <div class="row value">
            <label class="values">Project#1 </label><a class="exit_project" href="#">-Leave project</a>
          </div>
          
          <div class="row value">
            <label class="values">Project#2 </label><a class="exit_project" href="#">-Leave project</a>
          </div>
          <div class="row value">
            <label class="values">Project#3 </label><a class="exit_project" href="#">-Leave project</a>
          </div>  
          
        </div>
        <div class="col-4">

          <div class="card profile">
          
          <button type="button" class="btn btn-dark pass">Change Photo</button>
        </div>
      </div>
          
        </div>
      </div>
      
    </div>
    
    
  </body>
  