<html>

<head>
   
</head>
<body>
    <div class="topnav">
        <a class ="brand" href="#"><img src= "https://github.com/BharathA14/FrontEnd/blob/Bharath/Project/src/app/navigation-bar/goalwise.PNG" style= "display:inline-block"></a>
        <a class ="topnav-item" routerLink=""><i class="fas fa-sign-out-alt"></i></a>
        <a class ="topnav-item" routerLink="/profile"><i class="fas fa-user-md"></i></a>


    </div>
    <div class="sidenav">
        <a class ="sprint" routerLink="/sprint"><i class="fas fa-running"></i></a>
        <a class ="issues" href="#"><i class="far fa-user-circle"></i></a>
        <a class="team_issues" href="#"><i class="fas fa-users"></i></a>
    </div>
    
        


</body>

</html>



<router-outlet></router-outlet>