.box2{
  top:333px;
    left: 110px;
    margin:30px auto;
    width: 1350px;
    height: 500px;
    padding: 50px;
    border: 0.5px 0.5px 0px 0.5px;
    border-style: groove;
    border-color: rgba(169, 169, 169, 0.178);
    position: absolute;
    box-shadow: 0 1rem 2rem rgba(0,0,0,0.15);

  }