.main {
    width: 1400px;
    margin-left: 4rem ; /* Same as the width of the sidebar */
    padding: 20px 0px 0px 20px;
    margin-top:3rem;
    font-family:" Open Sans, sans-serif;"
  }
  .col-8{
    margin-top: 24px;
    margin-left: 20px;
    position: relative;
  }

.modal-body{
  font-size: 13px;
}

.head_title{

  font-size: 15px;

}

.btn{
  position: relative;
  left: 155px;
  margin-right: 18px;
}

.btn.btn-lg{
  font-size: 13px;
  border-radius: 0px
}

.modal-footer{

  border: none;
}