<div class="main">
<div class="card ">
  <div class="card-body">
<p>Open/unassigned here - //number//</p>
<div class="scrolling-wrapper open">
        <div class="card ml-3  mb-3 pl-2 pt-2 pb-2 pr-2" style="width:18rem;">
          <!-- replace all the below cards with these margins and paddings -->
          <div class="card-titles">
            <!-- Close Button -->
              <button type="button" class="close" aria-label="Close" style="float: right; font-size:1.3rem">
                  <span class="mt-0" aria-hidden="true">&times;</span>
                </button>
              <h6>Issue Detail</h6>
          </div>
          <div class="card-body>">
              <div class="container">
                  <div class="row">LOW</div>
                  <div class="row">Assigned to:/inerst name/</div>
                  <div class="row">Reported ny: /insert name/</div>
              </div>
          </div>
        </div>
        <div class="card ml-3  mb-3 pl-2 pt-2 pb-2 pr-2" style="width:18rem;">
            <div class="card-titles">
              <!-- Close Button -->
                <button type="button" class="close" aria-label="Close" style="float: right; font-size:1.3rem">
                    <span class="mt-0" aria-hidden="true">&times;</span>
                  </button>
                <h6>Issue Detail</h6>
            </div>
            <div class="card-body>">
                <div class="container">
                    <div class="row">LOW</div>
                    <div class="row">Assigned to:/inerst name/</div>
                    <div class="row">Reported ny: /insert name/</div>
                </div>
            </div>
          </div>
          <div class="card ml-3  mb-3 pl-2 pt-2 pb-2 pr-2" style="width:18rem;">
              <div class="card-titles">
                <!-- Close Button -->
                  <button type="button" class="close" aria-label="Close" style="float: right; font-size:1.3rem">
                      <span class="mt-0" aria-hidden="true">&times;</span>
                    </button>
                  <h6>Issue Detail</h6>
              </div>
              <div class="card-body>">
                  <div class="container">
                      <div class="row">LOW</div>
                      <div class="row">Assigned to:/inerst name/</div>
                      <div class="row">Reported ny: /insert name/</div>
                  </div>
              </div>
            </div>
            <div class="card ml-3  mb-3 pl-2 pt-2 pb-2 pr-2" style="width:18rem;">
                <div class="card-titles">
                  <!-- Close Button -->
                    <button type="button" class="close" aria-label="Close" style="float: right; font-size:1.3rem">
                        <span class="mt-0" aria-hidden="true">&times;</span>
                      </button>
                    <h6>Issue Detail</h6>
                </div>
                <div class="card-body>">
                    <div class="container">
                        <div class="row">LOW</div>
                        <div class="row">Assigned to:/inerst name/</div>
                        <div class="row">Reported ny: /insert name/</div>
                    </div>
                </div>
              </div>
              <div class="card ml-3  mb-3 pl-2 pt-2 pb-2 pr-2" style="width:18rem;">
                  <div class="card-titles">
                    <!-- Close Button -->
                      <button type="button" class="close" aria-label="Close" style="float: right; font-size:1.3rem">
                          <span class="mt-0" aria-hidden="true">&times;</span>
                        </button>
                      <h6>Issue Detail</h6>
                  </div>
                  <div class="card-body>">
                      <div class="container">
                          <div class="row">LOW</div>
                          <div class="row">Assigned to:/inerst name/</div>
                          <div class="row">Reported ny: /insert name/</div>
                      </div>
                  </div>
                </div>
</div>


<br>
<p>Bug issues</p>
<div class="scrolling-wrapper bugs">
    <div class="card ml-3  mb-3 pl-2 pt-2 pb-2 pr-2" style="width:18rem;">
      <div class="card-titles">
        <!-- Close Button -->
          <button type="button" class="close" aria-label="Close" style="float: right; font-size:1.3rem">
              <span class="mt-0" aria-hidden="true">&times;</span>
            </button>
          <h6>Issue Detail</h6>
      </div>
      <div class="card-body>">
          <div class="container">
              <div class="row">LOW</div>
              <div class="row">Assigned to:/inerst name/</div>
              <div class="row">Reported ny: /insert name/</div>
          </div>
      </div>
    </div>
    <div class="card ml-3  mb-3 pl-2 pt-2 pb-2 pr-2" style="width:18rem;">
        <div class="card-titles">
          <!-- Close Button -->
            <button type="button" class="close" aria-label="Close" style="float: right; font-size:1.3rem">
                <span class="mt-0" aria-hidden="true">&times;</span>
              </button>
            <h6>Issue Detail</h6>
        </div>
        <div class="card-body>">
            <div class="container">
                <div class="row">LOW</div>
                <div class="row">Assigned to:/inerst name/</div>
                <div class="row">Reported ny: /insert name/</div>
            </div>
        </div>
      </div>
      <div class="card ml-3  mb-3 pl-2 pt-2 pb-2 pr-2" style="width:18rem;">
          <div class="card-titles">
            <!-- Close Button -->
              <button type="button" class="close" aria-label="Close" style="float: right; font-size:1.3rem">
                  <span class="mt-0" aria-hidden="true">&times;</span>
                </button>
              <h6>Issue Detail</h6>
          </div>
          <div class="card-body>">
              <div class="container">
                  <div class="row">LOW</div>
                  <div class="row">Assigned to:/inerst name/</div>
                  <div class="row">Reported ny: /insert name/</div>
              </div>
          </div>
        </div>
        <div class="card ml-3  mb-3 pl-2 pt-2 pb-2 pr-2" style="width:18rem;">
            <div class="card-titles">
              <!-- Close Button -->
                <button type="button" class="close" aria-label="Close" style="float: right; font-size:1.3rem">
                    <span class="mt-0" aria-hidden="true">&times;</span>
                  </button>
                <h6>Issue Detail</h6>
            </div>
            <div class="card-body>">
                <div class="container">
                    <div class="row">LOW</div>
                    <div class="row">Assigned to:/inerst name/</div>
                    <div class="row">Reported ny: /insert name/</div>
                </div>
            </div>
          </div>
          <div class="card ml-3  mb-3 pl-2 pt-2 pb-2 pr-2" style="width:18rem;">
              <div class="card-titles">
                <!-- Close Button -->
                  <button type="button" class="close" aria-label="Close" style="float: right; font-size:1.3rem">
                      <span class="mt-0" aria-hidden="true">&times;</span>
                    </button>
                  <h6>Issue Detail</h6>
              </div>
              <div class="card-body>">
                  <div class="container">
                      <div class="row">LOW</div>
                      <div class="row">Assigned to:/inerst name/</div>
                      <div class="row">Reported ny: /insert name/</div>
                  </div>
              </div>
            </div>
</div>
<br>
<p>Inprogress Time</p>
<div class="scrolling-wrapper inprogress">
    <div class="card ml-3  mb-3 pl-2 pt-2 pb-2 pr-2" style="width:18rem;">
      <div class="card-titles">
        <!-- Close Button -->
          <button type="button" class="close" aria-label="Close" style="float: right; font-size:1.3rem">
              <span class="mt-0" aria-hidden="true">&times;</span>
            </button>
          <h6>Issue Detail</h6>
      </div>
      <div class="card-body>">
          <div class="container">
              <div class="row">LOW</div>
              <div class="row">Assigned to:/inerst name/</div>
              <div class="row">Reported ny: /insert name/</div>
          </div>
      </div>
    </div>
    <div class="card ml-3  mb-3 pl-2 pt-2 pb-2 pr-2" style="width:18rem;">
        <div class="card-titles">
          <!-- Close Button -->
            <button type="button" class="close" aria-label="Close" style="float: right; font-size:1.3rem">
                <span class="mt-0" aria-hidden="true">&times;</span>
              </button>
            <h6>Issue Detail</h6>
        </div>
        <div class="card-body>">
            <div class="container">
                <div class="row">LOW</div>
                <div class="row">Assigned to:/inerst name/</div>
                <div class="row">Reported ny: /insert name/</div>
            </div>
        </div>
      </div>
      <div class="card ml-3  mb-3 pl-2 pt-2 pb-2 pr-2" style="width:18rem;">
          <div class="card-titles">
            <!-- Close Button -->
              <button type="button" class="close" aria-label="Close" style="float: right; font-size:1.3rem">
                  <span class="mt-0" aria-hidden="true">&times;</span>
                </button>
              <h6>Issue Detail</h6>
          </div>
          <div class="card-body>">
              <div class="container">
                  <div class="row">LOW</div>
                  <div class="row">Assigned to:/inerst name/</div>
                  <div class="row">Reported ny: /insert name/</div>
              </div>
          </div>
        </div>
        <div class="card ml-3  mb-3 pl-2 pt-2 pb-2 pr-2" style="width:18rem;">
            <div class="card-titles">
              <!-- Close Button -->
                <button type="button" class="close" aria-label="Close" style="float: right; font-size:1.3rem">
                    <span class="mt-0" aria-hidden="true">&times;</span>
                  </button>
                <h6>Issue Detail</h6>
            </div>
            <div class="card-body>">
                <div class="container">
                    <div class="row">LOW</div>
                    <div class="row">Assigned to:/inerst name/</div>
                    <div class="row">Reported ny: /insert name/</div>
                </div>
            </div>
          </div>
          <div class="card ml-3  mb-3 pl-2 pt-2 pb-2 pr-2" style="width:18rem;">
              <div class="card-titles">
                <!-- Close Button -->
                  <button type="button" class="close" aria-label="Close" style="float: right; font-size:1.3rem">
                      <span class="mt-0" aria-hidden="true">&times;</span>
                    </button>
                  <h6>Issue Detail</h6>
              </div>
              <div class="card-body>">
                  <div class="container">
                      <div class="row">LOW</div>
                      <div class="row">Assigned to:/inerst name/</div>
                      <div class="row">Reported ny: /insert name/</div>
                  </div>
              </div>
            </div>
            



</div>
<br>
<p>Closed Issue</p>
<div class="scrolling-wrapper inprogress">
    <div class="card ml-3  mb-3 pl-2 pt-2 pb-2 pr-2" style="width:18rem;">
      <div class="card-titles">
        <!-- Close Button -->
          <button type="button" class="close" aria-label="Close" style="float: right; font-size:1.3rem">
              <span class="mt-0" aria-hidden="true">&times;</span>
            </button>
          <h6>Issue Detail</h6>
      </div>
      <div class="card-body>">
          <div class="container">
              <div class="row">LOW</div>
              <div class="row">Assigned to:/inerst name/</div>
              <div class="row">Reported ny: /insert name/</div>
          </div>
      </div>
    </div>
    <div class="card ml-3  mb-3 pl-2 pt-2 pb-2 pr-2" style="width:18rem;">
        <div class="card-titles">
          <!-- Close Button -->
            <button type="button" class="close" aria-label="Close" style="float: right; font-size:1.3rem">
                <span class="mt-0" aria-hidden="true">&times;</span>
              </button>
            <h6>Issue Detail</h6>
        </div>
        <div class="card-body>">
            <div class="container">
                <div class="row">LOW</div>
                <div class="row">Assigned to:/inerst name/</div>
                <div class="row">Reported ny: /insert name/</div>
            </div>
        </div>
      </div>
      <div class="card ml-3  mb-3 pl-2 pt-2 pb-2 pr-2" style="width:18rem;">
          <div class="card-titles">
            <!-- Close Button -->
              <button type="button" class="close" aria-label="Close" style="float: right; font-size:1.3rem">
                  <span class="mt-0" aria-hidden="true">&times;</span>
                </button>
              <h6>Issue Detail</h6>
          </div>
          <div class="card-body>">
              <div class="container">
                  <div class="row">LOW</div>
                  <div class="row">Assigned to:/inerst name/</div>
                  <div class="row">Reported ny: /insert name/</div>
              </div>
          </div>
        </div>
        <div class="card ml-3  mb-3 pl-2 pt-2 pb-2 pr-2" style="width:18rem;">
            <div class="card-titles">
              <!-- Close Button -->
                <button type="button" class="close" aria-label="Close" style="float: right; font-size:1.3rem">
                    <span class="mt-0" aria-hidden="true">&times;</span>
                  </button>
                <h6>Issue Detail</h6>
            </div>
            <div class="card-body>">
                <div class="container">
                    <div class="row">LOW</div>
                    <div class="row">Assigned to:/inerst name/</div>
                    <div class="row">Reported ny: /insert name/</div>
                </div>
            </div>
          </div>
          <div class="card ml-3  mb-3 pl-2 pt-2 pb-2 pr-2" style="width:18rem;">
              <div class="card-titles">
                <!-- Close Button -->
                  <button type="button" class="close" aria-label="Close" style="float: right; font-size:1.3rem">
                      <span class="mt-0" aria-hidden="true">&times;</span>
                    </button>
                  <h6>Issue Detail</h6>
              </div>
              <div class="card-body>">
                  <div class="container">
                      <div class="row">LOW</div>
                      <div class="row">Assigned to:/inerst name/</div>
                      <div class="row">Reported ny: /insert name/</div>
                  </div>
              </div>
            </div>
            



</div>
</div>
</div>
</div>
