.main {
    margin-left: 3rem ; /* Same as the width of the sidebar */
    padding: 20px 10px;
    margin-top:3rem;
  }

.modal-body{
  font-size: 13px;
}

.head_title{

  font-size: 15px;

}

.btn{
  margin-right: 15px;
  margin-left:30px;
  margin-bottom: 10px;
}

.btn.btn-lg{
  font-size: 13px;
  border-radius: 0px
}

.modal-footer{

  border: none;
}