
    <!-- Issue Modal -->
 <div class="modal fade" data-toggle="modal" tabindex="-1" role="dialog" >
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-body" style="padding: 30px 30px;"> 
          <div class="row" style="padding-bottom: 15px;">
            <div class="col">

              <h5 class="modal-title" id="exampleModalLabel">Create an Issue</h5>
            </div>
            <div class="col">

            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            </div>
          </div>

            <form>
              <div class="row">
                <div class="form-group col-md-3 ">
                  <label for="Issue_heading">Issue Heading</label>
                  <input type="text" class="form-control" id="Issue_Number" >
                </div>
              </div>  
                <div class="row">
                  
                    <div class="form-group col-md-3">
                        <label for="Created_by">Issue Priority</label>
                        <div class="dropdown">
                            <a class="btn btn-light dropdown-toggle" href="#" role="button" id="IssueCreated" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              High
                            </a>
                          
                            <div class="dropdown-menu" aria-labelledby="IssueCreated">
                              <a class="dropdown-item" href="#">High</a>
                              <a class="dropdown-item" href="#">Medium</a>
                              <a class="dropdown-item" href="#">Low</a>
                            </div>
                          </div>
                      </div>
                  
                  <div class="form-group col-md-8 ml-auto">
                    <label for="Reported">Reported By</label>
                    <input type="text" class="form-control" id="Sprint_Created" placeholder="Current User Name">
                  </div>
                </div>
                <div class="row">
                <div class="form-group col-md-3">
                    <label for="Spirit">Sprint</label>
                    <input type="text" class="form-control" id="Sprint_Period" placeholder="">
                </div>
  
                <div class="form-group col-md-3">
                    <label for="Spirit">Fix version</label>
                    <input type="text" class="form-control" id="fix_version" placeholder="1.8">
                </div>

                <div class="form-group col-md-3">
                    <label for="Spirit">Story points</label>
                    <input type="text" class="form-control" id="story_points" placeholder="">
                </div>

                <div class="form-group col-md-3">
                    <label for="Spirit">Issue Reported By</label>
                    <input type="text" class="form-control" id="Sprint_Period" placeholder="31/06/2019">
                </div>

              </div>
              <div class="row">
                  <div class="form-group col-md-12">
                      <label for="comment">Issue Description</label>
                      <textarea class="form-control" rows="5" id="comment"></textarea>
                    </div>

              </div>
              <div class="row">
                  <div class="form-group col-md-12">
                      <label for="Spirit">Assign it to</label>
                      <input type="text" class="form-control" id="Assign_to" placeholder="">
                  </div>
              </div>
              <small id="Help" class="form-text text-muted">NOTE: Issue will be created in NEW State.</small>

             
              </form>
  
  <!--Form to be displayed-->
         </div>
         <div class="modal-footer " >
            <button type="button" class="btn btn-light btn-lg" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-warning btn-lg">Create Issue</button>
          </div>
        </div>
      </div>
    </div>
   









