#log{
    border: 2px;
    border-style: outset;
    
    margin:auto;
    padding-bottom: 80px;
    padding-top: 35px;
    position: relative;
    width: 600px;
    
    

}
h1{
    padding-left: 350px;
    margin-top: 10px;


}
label.ip{
    margin-left: 40px;
    margin-top: 20px;
    padding-top: 30px;
}

label.ip1{
    margin-left: 40px;
    margin-top: 20px;
    padding-top: 10px;
}
input.ip{
    padding-left: 10px;
    margin-left: 0px;
    margin-top: 5px;
}