<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="body">
<div class="flex-container">
  <div class="top" >
    <img src="https://raw.githubusercontent.com/BharathA14/FrontEnd/Bharath/Project/src/app/navigation-bar/goalwise.PNG" style="height: 5.1vw;">
  </div>
  <div id="log" >
    <label class="ip">Username<input class="i" type="text"  [value]="uname" [(ngModel)]="uname"></label>
    <br><br><br>
    <label class="ip">Password<input class="i" type="password"  [value]="psw" [(ngModel)]="psw"></label><br><br>
    <button class="b1" (click)="onreset()">Reset</button>
    <button class="b2" (click)="onsubmit()">Sign In</button>
    <p>{{result}}</p>
  </div>
</div>
</div>